<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.panbox.listener.PanBoxListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>com.panbox.services.ApplicationConfig</servlet-name>
    </servlet>
    <servlet>
        <servlet-name>ImageProviderServlet</servlet-name>
        <servlet-class>com.panbox.image.ImageProviderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageReceiverServlet</servlet-name>
        <servlet-class>com.panbox.image.ImageReceiverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageProviderServlet</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageReceiverServlet</servlet-name>
        <url-pattern>/acceptimage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
